* {
    font-family: 'Poppins', sans-serif;
}

 html {
    background: url(../img/sfondo.png);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
 }

 /* HEADER*/

header {
    background-color: rgb(0, 147, 184);
    margin: 25px;
    padding: 30px;
}

header div:first-of-type {
    margin: auto;
}

header img {
    width: 15em;
    margin: auto;
}

header p:first-of-type {
    color: aliceblue;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1em
}

nav {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
    color: aliceblue;
}

nav a {
    color: aliceblue;
}

/*MAIN*/

main {
    background-color: white;
    box-shadow: 4px 4px 4px #c2c1c1;
    padding: 10px;
    margin: 30px;
}

/* ARTICOLO*/

article h1 {
    text-align: center;
}

article p:first-of-type {
    color: rgb(204, 204, 204);
    font-weight: 400em;
}


article p > strong {
    color: rgb(167, 0, 209);
}

code {
    background-color: rgb(209, 207, 207);
    outline: 2px solid grey;
}

/* TABELLA */

table {
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
}

table caption {
    text-align: center;
    font-style: italic;
    font-weight: 100em;
    font-weight: bold;
}

table thead {
    background-color: rgb(23, 107, 233);
    color: white;
    font-weight: 50em;
}

tbody tr:nth-child(even) {
    background-color: rgb(223, 223, 223);
}

table thead, tbody {
    width: 100px;
    height: 50px;
}

p > a[href] {
    color: rgb(28, 153, 255);
}

/* VIDEO*/

iframe {
    border-radius: 20px;
}

/* NOVITA' */

section {
    background-color: rgb(223, 223, 223);
    
}

article > section p:only-of-type {
    color: black;
}

input[type=email] {
    border-style: none none dotted none;

}

button {
    background-color: rgb(26, 86, 252);
    color: white;
}

/* ARTICOLI*/

aside {
    margin-top: 15px;
    margin-bottom: 15px;
}

aside h2 {
    text-align: center;
}

.box {
    background-color: rgb(233, 233, 233);
}

.box a {
    color: rgb(23, 162, 255);
    font-weight: bold;
}

.data {
    text-align: unset;
    text-align: right;
    font-size: small;
}

/*FOOTER*/

footer {
    background-color: rgb(0, 132, 165);
    color: white;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: 50px;
}

footer address > a {
    color: rgb(234, 0, 255);
    font-weight: bolder;
    margin: 80px;
    padding: 30px
}

