/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */


body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #732104;
    padding: 0.5rem;
}

/*  HEADER  */


header nav {
    background-color:#fef7e2;
    border-radius: 80px;
    display: flex;              /*guarda come allineare il NAV al contenitore*/
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1rem;
}

#bigTag {
    font-size: 1.4em;
    width: 85%;
    height: 70px;
    order: -1;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    font-size: 0.8rem;
    background-color: rgba(255,223,127,255);
    font-weight: 700;
    border-radius: 50px;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
}

header img {
    width: 15%;
}

/*  MAIN  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main  h1 {
   text-align: center;
   font-size: 2.5rem;
   font-weight: 900;
   width: 100%;
}

/* ARTICLE */

article img {
    width: 100%;
    border-radius: 80px 80px 0 0;
}


.bottomCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product {
    margin-bottom: 0;
}

article span {
    display: block;
}

.price {
    align-items: flex-end;
    align-self: flex-end;
}
 article div {
    background-color: #fef7e2;
    border-radius: 80px;
    margin-bottom: 2rem;
} 

button {
    background-color:rgba(255,223,127,255);
    border: none;
    width: 45%;
    height: 35px;
    border-radius: 80px;
    color: #732104;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

article a {
    text-decoration: none;
}


/* ASIDE */

aside {
    justify-content: center;
}

aside h2 {
    text-align: center;
    font-weight: 900;
    width: 100%;
}

aside div {
    background-color: #fef7e2;
    border-radius: 80px;
    padding: 1.5rem 2rem;
}

aside h3 {
    font-weight: 900;
    width: 80%;
}

aside p {
    line-height: 1.5rem;
}

aside img {
    width: 100%;
}


@media screen and (min-width: 760px){           /* TABLET SCREEN*/

    body {
        margin-top: 0;
        padding: 0;
        margin: 0;
    }

    header {
        width: 100%;
    }

    header nav {
        border-radius: 10px;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    nav li {
        width: 15%;
        font-size: 1.1rem;
        height: 50px;
    }

    #bigTag {
        width: 30%;
        order: 0;
        font-size: 2rem;
        height: 100px;

    }

    header img {
        width: 20%;
    }

    /*MAIN*/

    main {
        margin: 1rem;
    }

    h1 {
        width: 100%;
        text-align: start;
        font-size: 3rem;
        font-weight: 900;
    }


    /*ARTICLE*/

    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    article div {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    #card5 {
        display: none;
    }

    /*ASIDE*/

    aside h2 {
        text-align: start;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    aside div {
        border-radius: 20px;
    }

    h3 {
        font-size: 2rem;
    }

    aside p {
        font-size: 1.3rem;
    }
}

/* @media screen and (min-width: 1020px){
    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
} */