
@mixin colore($border, $colore, $radius) {
   border: $border; 
   color: $colore;
   border-radius: $radius;
}

@mixin titolo ($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

// @mixin font ($fontFamily) {
//     font-family: $fontFamily;
// }

@mixin font {
    $font-default: Arial, Helvetica, sans-serif;
}