/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { 
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('../img/sfondo.png');
    background-position: center center;
}
* {box-sizing: border-box;}
hr {display: none;} /* rimuove l'elemento */

/* HEADER */
header {
    background: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
}
header div img {
    margin-bottom: 20px;
}
header nav ul {
    margin: 0;
}
header nav li {
    list-style: none;
}
header nav li a {
    color: white;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}
header nav li a::before {
    content: "\22c6\0020";
}

/* MAIN */
main {
    background-color: #fff;
    box-shadow: 0 3px 3px #444;
    padding: 2em 1em;
    margin-bottom:1.5em ;
}
section { 
    background-color: #e3e3e3;
    padding: 1em;
    margin-bottom: 2em;
}
section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
}
p, address, ul, ol, dl, blockquote {
    margin-bottom: 1.2em;
}
h1 + p {
    color: #a0a0a0;
}
ul, ol {
    margin-left: 2em;
}
a {
    color: #00A0C6;
    font-weight: bold;
}
strong {
    color: #a02571;
    font-weight: bold;
}
code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 5px;
}
iframe {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

/* TABELLE */
table {
    margin-bottom: 2em;
}
caption {
    font-weight: bold;
    font-style: italic;
}
thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}
button {
    padding: 4px 7px;
    background-color: #3f6bca;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}
aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}


/* FOOTER */
footer {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}
footer a {
    color: fuchsia;
}

/* SMALL SCREEN */

@media screen /*and (min-width: 320px)*/ and (max-width: 570px) {
    main article img:nth-of-type(1) {
        border: 3px solid #00a0c6;
        outline: 3px solid #a82264;
        width: 7rem;
        padding: 3px;
    }
    nav li {
        display: inline-block;
    }

    div img {
        width: 80%;
    }

    div p, nav li {
        font-size: 1.5rem;
    }
    
    article h1 {
        font-size: 4rem;
    }

    article {
        font-size: 1.6rem;
    }

    section h2 {
        background-color: rgb(163, 163, 163);
    }

    aside {
        font-size: 1.6rem;
    }

    aside h2 {
        font-size: 3rem;
    }

    footer {
        font-size: 1.8rem;
        padding: 2rem;
    }
}

/* MEDIUM SCREEN */

@media screen and (min-width: 570px) and (max-width: 768px) {
    main article img:nth-of-type(1) {
        border: 3px solid #00a0c6;
        outline: 3px solid #a82264;
        width: 7rem;
        padding: 3px;
    }
    nav li {
        display: inline-block;
    }

    div img {
        width: 70%;
    }

    div p, nav li {
        font-size: 2rem;
        font-weight: 300;
    }
    
    article h1 {
        font-size: 6rem;
    }

    article {
        font-size: 2rem;
        margin: 2rem;
    }

    article h2 {
        font-weight: bolder;
        font-size: 2.4rem;
    }

    article table{
        margin: 3rem auto;
    }

    section h2 {
        background-color: rgb(163, 163, 163);
    }

    aside {
        font-size: 1.6rem;
    }

    aside h2 {
        font-size: 3rem;
    }
    section form {
        width: 100%;
    }

    fieldset input {
        width: 80%;
    }

    fieldset input, fieldset button {
        height: 40px;
    }

    footer {
        font-size: 1.8rem;
        padding: 2rem;
    }
}


/* BIGGER SCREEN */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    main article img:nth-of-type(1) {
        border: 3px solid #00a0c6;
        outline: 3px solid #a82264;
        width: 6rem;
        padding: 3px;
    }
   
    body {
        margin: 0 6rem;
    }

    header, header > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
        padding: 0.5rem;
    }

    header div img{
        margin-bottom: 0;
    }

    header div p {
        margin: 0;
    }

    header nav {
        padding-right: 3rem;
    }

    nav li {
        display: inline-block;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: 0 0.5rem;
    }

    article h1 {
        font-size: 4.7rem;
    }

    article {
        font-size: 1.7rem;
        margin: 0 3rem;
    }

    article h2 {
        font-weight: bolder;
        font-size: 2rem;
    }

    article iframe, article section {
        width: 50%;
        height: 200px;
        display: flex;
        float: left;
        flex-direction: column;
        align-items: center;
    }

    section {
        border-radius: 20px;
    }

    section h2 {
        background-color: rgb(163, 163, 163);
        width: 100%;
        font-size: 1.8rem;
    }

    article table{
        margin: 8rem auto;
        width: 70%;
    }

    section form {
        width: 100%;
    }

    fieldset input {
        width: 80%;
    }

    fieldset input, fieldset button {
        height: 40px;
    }

    aside h2 {
        font-size: 2.8rem;
    }

    aside div {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    footer {
        padding: 3rem 23rem;
        font-size: 1.5rem
    };
}

/* PRINT */

@media print {
    header, footer, aside, iframe, section{
        display: none;
    }

    main article img:nth-of-type(1) {
        border: 3px solid #00a0c6;
        outline: 3px solid #a82264;
        width: 6rem;
        padding: 3px;
    }

    body {
        font-size: 2.2rem;
    }
}